@import './variable.scss';

// .#{$antd-prefix}-message-custom-content {
//   display: flex;
//   align-items: center;
// }

// 面包屑
.#{$antd-prefix}-breadcrumb {
  li:not(:last-child) {
    .#{$antd-prefix}-breadcrumb-link {
      cursor: pointer;
      color: rgb(59, 130, 246);
    }
  }
}
