@import './variable.scss';

// .#{$antd-prefix}-message-custom-content {
//   display: flex;
//   align-items: center;
// }

// 面包屑
.#{$antd-prefix}-breadcrumb {
  li:not(:last-child) {
    .#{$antd-prefix}-breadcrumb-link {
      cursor: pointer;
      color: rgb(59, 130, 246);
    }
  }
}

// 拖拽上传的样式调整
.#{$antd-prefix}-upload-wrapper {
  .#{$antd-prefix} {
    &-upload-drag {
      border: none;
    }
    &-upload-drag-hover {
      border: 1px dashed #4096ff;
    }
  }
}

.btn-link {
  cursor: pointer;
  color: #2e5ef0;
}

// 滚动条定制
html {
  // 整个滚动条
  &::-webkit-scrollbar {
    width: 8px;
  }

  // 滑块
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 8px;
  }
}
