@import './variable.scss';

// .#{$antd-prefix}-message-custom-content {
//   display: flex;
//   align-items: center;
// }

// 面包屑
.#{$antd-prefix}-breadcrumb {
  li:not(:last-child) {
    .#{$antd-prefix}-breadcrumb-link {
      cursor: pointer;
      color: rgb(59, 130, 246);
    }
  }
}

// 拖拽上传的样式调整
.#{$antd-prefix}-upload-wrapper {
  .#{$antd-prefix} {
    &-upload-drag {
      border: none;
    }
    &-upload-drag-hover {
      border: 1px dashed #4096ff;
    }
  }
}
